@import "@/styles/variables";

.formGroup {
  margin-bottom: 1.5rem;
  position: relative;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: $label-color;
  transition: color $transition-speed ease;
}

.input {
  width: 100%;
  padding: 0.8rem 0 0.8rem 1rem;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  font-size: 1rem;
  color: $text-color;
  background-color: $background-color;
  outline: none;
  box-shadow: 0 2px 4px $shadow-color;
  transition: border-color $transition-speed ease,
    box-shadow $transition-speed ease;
  box-sizing: border-box;
  &:focus {
    border-color: $primary-color;
    box-shadow: 0 4px 8px $focus-shadow-color;
  }

  &::placeholder {
    color: #999;
    opacity: 1;
  }

  // Webkit browsers (Chrome, Safari)
  &::-webkit-input-placeholder {
    color: #999;
  }

  // Microsoft Edge
  &::-ms-input-placeholder {
    color: #999;
  }
}

.inputError {
  border-color: $error-color !important;
  box-shadow: 0 2px 4px rgba($error-color, 0.2) !important;
}

.error {
  color: $error-color;
  font-size: 0.8rem;
  margin-top: 0.25rem;
  display: block;
}

.input:focus + .label {
  color: $primary-color;
}
